.textBox {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.icon {
    width: 24px;
    height: 100%;
    padding-right: 10px;
    display: inline;
}