.itemsTitle {
    padding-bottom: 30px;
}

.checkoutSection {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

.cost {
    grid-column: 1 / span 2;
}

